* {
    margin: 0;
    padding: 0
}

body {
    background-image: url("https://tse4.mm.bing.net/th?id=OIP.U0qxmOa-p0Ka8JMhTt4XngHaEK&pid=Api&P=0&w=280&h=158");
}

.contenedor {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    margin-top: 10px;
    height: 650px;
    border-radius: 5px;
}

h1 {
    font-size: 25px;
    color: white;
}

h2 {
    font-size: 20px;
    color: white;
}

h3 {
    font-size: 15px;
    color: white;
}

.contenedor input {
    width: 80%;
    height: 25px;
    margin: 0.5rem;
}

.contenedor button {
    padding: 0.5em 1em;
    border: none;
    background: rgb(54, 129, 129);
    ;
    cursor: pointer;
    color: white;
    border-radius: 10px;
    width: 40%;
}

.contenedor button:hover {
    background-color: red;
}

.txtcls {
    background-color: rgb(64, 67, 240);
    width: 100%;
    color: white;
    font-size: 20px;
    text-align: center;
    margin-top: 6px;
}